<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>webui</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>FORM</auth-method>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Protected Area</web-resource-name>
      <url-pattern>/index.jsp</url-pattern>
      <url-pattern>/</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <description></description>
    <role-name>user</role-name>
  </security-role>
  <security-role>
    <description></description>
    <role-name>admin</role-name>
  </security-role>
  <servlet>
    <description></description>
    <display-name>CreateProject</display-name>
    <servlet-name>CreateProject</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.CreateProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateProject</servlet-name>
    <url-pattern>/CreateProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTasks</display-name>
    <servlet-name>DisplayTasks</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplayTasks</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTasks</servlet-name>
    <url-pattern>/DisplayTasks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUser</display-name>
    <servlet-name>CreateUser</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.CreateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUser</servlet-name>
    <url-pattern>/CreateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateTask</display-name>
    <servlet-name>CreateTask</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.CreateTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateTask</servlet-name>
    <url-pattern>/CreateTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUsers</display-name>
    <servlet-name>DisplayUsers</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplayUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUsers</servlet-name>
    <url-pattern>/DisplayUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTask</display-name>
    <servlet-name>DisplayTask</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplayTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTask</servlet-name>
    <url-pattern>/DisplayTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProjects</display-name>
    <servlet-name>DisplayProjects</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplayProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProjects</servlet-name>
    <url-pattern>/DisplayProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayProject</display-name>
    <servlet-name>DisplayProject</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplayProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayProject</servlet-name>
    <url-pattern>/DisplayProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUser</display-name>
    <servlet-name>DisplayUser</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplayUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUser</servlet-name>
    <url-pattern>/DisplayUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcessTaskStatus</display-name>
    <servlet-name>ProcessTaskStatus</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.ProcessTaskStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessTaskStatus</servlet-name>
    <url-pattern>/ProcessTaskStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignTask</display-name>
    <servlet-name>AssignTask</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.AssignTask</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignTask</servlet-name>
    <url-pattern>/AssignTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayActions</display-name>
    <servlet-name>DisplayActions</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplayActions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayActions</servlet-name>
    <url-pattern>/DisplayActions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayComment</display-name>
    <servlet-name>DisplayComment</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplayComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayComment</servlet-name>
    <url-pattern>/DisplayComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subscribe</display-name>
    <servlet-name>Subscribe</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.Subscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subscribe</servlet-name>
    <url-pattern>/Subscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Unsubscribe</display-name>
    <servlet-name>Unsubscribe</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.Unsubscribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Unsubscribe</servlet-name>
    <url-pattern>/Unsubscribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplaySubscriptions</display-name>
    <servlet-name>DisplaySubscriptions</servlet-name>
    <servlet-class>com.finna.be.octo.avenger.web.servlets.display.DisplaySubscriptions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplaySubscriptions</servlet-name>
    <url-pattern>/DisplaySubscriptions</url-pattern>
  </servlet-mapping>
</web-app>